*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: #edeef9;
    font-family: "oswald", sans-serif;
    position: relative;
}
header {
    height: 300px;
    display: flex; 
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    position: relative;
    height: 100%;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 48px;
    font-size: 32px;
    margin-top: 10px;
    position: absolute;
    top: 5px;
}



.logotipo {
    height: 100px;
    width: 300px;
    background-color: #edeef9;
    background-image: url("./img/Logo_NIKE.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    align-items:start;
    top: 75px;
}

.botao1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 100px;
    top: 75px;
}
.carrinho{
    height: 50px;
    width: 50px;
    background-color: #edeef9;
    background-image: url("./img/cartcompra.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    align-items:end;
    top: 75px;
    left: 1448px;
}
.lupa{
    height: 40px;
    width: 40px;
    background-color: #edeef9;
    background-image: url("./img/lupa2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    align-items:end;
    top: 80px;
    left: 1390px;
}



main{
    flex-grow: 1;
    display: flex;
    background-color:white;
    border-radius: 10px;
    position: relative;
}

.titulo{
    font-size: 185px;
    opacity: 0.1;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    align-items: center;
}
.titulo span{
    text-align: center;
    font-style: bold;
}

.imagemGrande{
    height: 900px;
    width: 900px;
    transform: rotate(-20deg);
    top: -10%;
    left: -12%;
    position: absolute;
    background-image: url(./img/download.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.imagemPequeterruxa{
    height: 200px;
    width: 200px;
    position: absolute;
    top: -2%;
    left: 2%;
    transform: rotate(-20deg);
    background-image: url(./img/teniscor2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.esquerda{
    width: 50%;
    height: 100%;
}
.direita{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.direita h3{
    top: 30%;
    font-size: 46px;
}
.direita h2{
    font-style: bold;
    font-size: 92px ;
}
.direita h4{
    font-size: 20px;
    width: 60%;
}
.direita .container{
    height: 150px;
    align-items: center;
    justify-content: center;
}
.direita .container .item{
    height: 100%;
    width: 30%;
}

.direita .botoes{
    display: flex;
    gap: 20px;
}

.direita .botoes .tamanho{
    box-shadow: 5px 5px 5px black;
    width: 25%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.direita .botoes .add{
    background-color: black;
    width: 40%;
    height: 100%;
    color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}



footer{
    height: 50px;
    display: flex;
}


